header {
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    top: 0;
    /* padding: 40px; */
    /* position: fixed; */
    z-index: 10;
}
header .logo {
    flex: 1;
}
header a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
header a:hover {
    text-decoration: none;
    opacity: 1;
    text-shadow: 1px 0.5px 0.5px 1px #ddd;
    height: 100px;
    color: rgb(255, 255, 255);
}
header ul li {
    display: inline-block;
    opacity: 0.7;
    text-decoration: double;
    padding: 0 20px;
    color: white;
}
header ul li:hover {
    text-decoration: aqua;
    opacity: 1;
}
.menu {
    display: none;
}
.cart-icon {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
    background-color: white;
}
.cart-icon span {
    background: transparent;
    border-radius: 20px;
    color: white;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1;
    padding: 4px 4px;
    font-weight: bold;
    font-size: 15px;
}
.cart-icon img {
    position: absolute;
    width: 40px;
    top: 52%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
}
